@import "variables.scss";

.btn {
  border: none;
  border-radius: $base-radius;
  cursor: pointer;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: $font-semibold;
  line-height: 2.5;
  padding: 0 12px;
  position: relative;
  text-align: center;

  &:hover {
    background: $blue;
  }
}
